<% include partials/header %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul>
        <li><a href="home.html">Home</a></li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a id="homeMain" class="navbar-brand mx-auto" href="home.html">SIM Online</a>
      </div>
      <ul>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
    
    <div class="container">
      <center>
        <h1>SURAT IZIN MENGEMUDI ELEKTRONIK</h1>
        <h3>( ELECTRONIC DRIVING LICENSE )</h3>
      </center>
      <div class="row" id="rowSim">
        <div class="col-sm-4">
          <img src="./Images/sim_ex.jpg" alt="" height="350" width="350">
        </div>
        <div class="col-sm-8">
          <table>
            <tr>
              <td>Nama</td>
              <td>:</td>
              <td></td>
              <td>Bill Gates</td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td>:</td>
              <td></td>
              <td>Taman Kopo Indah 1 Blok J No. 86</td>
            </tr>
            <tr>
              <td>Tempat & Tanggal Lahir &ensp;</td>
              <td>:</td>
              <td></td>
              <td>28 Oktober 1955, Seattle, Washington DC</td>
            </tr>
            <tr>
              <td>Tinggi</td>
              <td>:</td>
              <td></td>
              <td>185 cm</td>
            </tr>
            <tr>
              <td>Pekerjaan</td>
              <td>:</td>
              <td></td>
              <td>Pensiun</td>
            </tr>
            <tr>
              <td>No SIM</td>
              <td>:</td>
              <td></td>
              <td>902139832177</td>
            </tr>
            <tr>
              <td>Masa Habis Berlaku</td>
              <td>:</td>
              <td></td>
              <td>18-10-2025</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
<% include partials/footer %>
