<% include partials/header %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul>
        <li><a href="home.html">Home</a></li>
      </ul>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a id="homeMain" class="navbar-brand mx-auto" href="home.html">STNK Online</a>
      </div>
      <ul>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>

    <div class="container">
      <center class="headSTNK">
        <h6>KEPOLISIAN NEGARA REPUBLIK INDONESIA</h6>
        <h4>DAERAH</h4>
        <h4>JAWA BARAT</h4>
      </center>
      <center>
        <h2>SURAT TANDA KENDARAAN BERMOTOR</h2>
        <h3>( ELECTRONIC VEHICLE LICENSE )</h3>
        <h6>No. 078892</h6>
      </center>
      <div class="row" id="rowSTNK">
        <div class="col-sm-4">
          <table class="tableSTNK">
            <tr>
              <td>Nomor Registrasi</td>
              <td>:</td>
              <td>D 5034 ZBN</td>
            </tr>
            <tr>
              <td>Nama Pemilik</td>
              <td>:</td>
              <td>Bill Gates</td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td>:</td>
              <td>Taman Kopo Indah 1 Blok J No. 86</td>
            </tr>
            <tr>
              <td>Merk</td>
              <td>:</td>
              <td>Ducati</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>:</td>
              <td>Panigale</td>
            </tr>
            <tr>
              <td>Jenis</td>
              <td>:</td>
              <td>Sepeda Motor</td>
            </tr>
            <tr>
              <td>Model</td>
              <td>:</td>
              <td>Super Sport</td>
            </tr>
            <tr>
              <td>Tahun Pembuatan</td>
              <td>:</td>
              <td>2018</td>
            </tr>
            <tr>
              <td>Isi Silinder</td>
              <td>:</td>
              <td>1299 cc</td>
            </tr>
            <tr>
              <td>Nomor Rangka/NIK/VIN &ensp;</td>
              <td>:</td>
              <td>TRX24SIISADA000931238SA</td>
            </tr>
            <tr>
              <td>Nomor Mesin</td>
              <td>:</td>
              <td>45P000321</td>
            </tr>
            <tr>
              <td>Warna</td>
              <td>:</td>
              <td>Merah</td>
            </tr>
            <tr>
              <td>Bahan Bakar</td>
              <td>:</td>
              <td>Bensin</td>
            </tr>
            <tr>
              <td>Warna TNKB</td>
              <td>:</td>
              <td>Hitam</td>
            </tr>
            <tr>
              <td>Tahun Registrasi</td>
              <td>:</td>
              <td>2018</td>
            </tr>
            <tr>
              <td>Kode Lokasi</td>
              <td>:</td>
              <td>19820</td>
            </tr>
            <tr>
              <td>Berlaku Sampai</td>
              <td>:</td>
              <td>31 Agustus 2023</td>
            </tr>
          </table>
        </div>
        <div class="col-sm-8">
          <center>
            <img src="./Images/stnk_ex.jpg" alt="" height="500">
          </center>
        </div>
      </div>
    </div>

    <% include partials/footer %>
